import os

os.environ['PROJECT_DIR'] = os.path.dirname(os.path.abspath(__file__))

# ------------------------------------DRIVERS-----------------------------------
os.environ['CHROME'] = os.getenv('PROJECT_DIR') + '/../resources/drivers/chromedriver'
os.environ['FIREFOX'] = os.getenv('PROJECT_DIR') + '/../resources/drivers/geckodriver'

# ------------------------------------DATABASE-----------------------------------
os.environ['DATABASE'] = os.getenv('PROJECT_DIR') + '/../database/'
os.environ['URLS'] = os.getenv('DATABASE') + 'urls_a_coletar.txt'
