import os

os.environ['PROJECT_DIR'] = os.path.dirname(os.path.abspath(__file__))

# ------------------------------------DRIVERS-----------------------------------
os.environ['CHROME'] = os.getenv('PROJECT_DIR') + '/../resources/drivers/chromedriver'
os.environ['FIREFOX'] = os.getenv('PROJECT_DIR') + '/../resources/drivers/geckodriver'

# ------------------------------------DATABASE-----------------------------------
os.environ['JSON_DB'] = os.getenv('PROJECT_DIR') + '/../collected_data/database.json'

os.environ['DB_HOST'] = ""
os.environ['DB_NAME'] = ""
os.environ['DB_PORT'] = ""
os.environ['DB_USER'] = ""
os.environ['DB_PASS'] = ""
os.environ['DB_TABLE_X'] = ""


# --------------------------------------TEST-----------------------------------
os.environ['COLLECTED_DIR'] = os.getenv('PROJECT_DIR') + '/../collected_data/'
os.environ['URLS'] = os.getenv('PROJECT_DIR') + '/../resources/url_examples/'
